<template>
<div class="mobile-menu-outer">
    <div class="mobile-opener" @click="openMenu"></div>
    <div class="mobile-menu" :class="{opened: Opened}">
        <div class="mobile-menu-close" @click="closeMenu"></div>
    <ul>
        <li><a href="#">Menu item 1</a> </li>
        <li><a href="#">Menu item 2</a> </li>
        <li><a href="#">Menu item 3</a> </li>
        <li><a href="#">Menu item 4</a> </li>
        <li><a href="#">Menu item 5</a> </li>
        
    </ul>
    </div>
</div>
</template>

<script>
export default {
  name: 'MobileMenu',

  data(){
    return{
      Opened: false,
    }
  },
  mounted(){
  
  },
  computed:{
    
  },
  watch:{
    
  },
  methods:{
    openMenu(){this.Opened = true},
    closeMenu(){this.Opened = false},
  }
}
</script>


<style scoped>
    .mobile-menu{
        position: fixed;
        width: calc(100% - 16px);
        height: 100%;
        overflow: auto;
        background-color: #fff;
        color: #000;
        transform: translateX(100vw);
        transition: transform .3s;
        top: 40px;
        left: 8px;
        z-index: 991;
    }

    .mobile-menu.opened{
        transform: translateX(0vw);
    }

    .mobile-opener, .mobile-menu-close{
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url('../assets/img/burger.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .mobile-menu-close{
        background-image: url('../assets/img/close.svg');
    }
</style>
