<template>
    <div class="bottom-tabs" :class="{opened: someTabIsOpened, closing:closing}">

      <div class="one-tab" 
        v-for="tab in Tabs" 
        :key="tab.id" 
        :class="{opened: tab.opened}"
        >   

        <div class="tab-opener" @click="openTab(tab.id)" :class="{opened: tab.opened}"></div>
       
        <div class="tab-content">
          <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <ul>
            <li><b>But I must explain to you</b> how all this mistaken idea of </li>
            <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</li>
            <li>similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</li>
            <li>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint</li>
            <li>et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</li>
          </ul>
        </div>

      </div> 
      
    </div>
</template>

<script>
export default {
  name: 'Tabs',
  props: {
    msg: String
  },
  data(){
    return{
      closing: false,
      Tabs: [
        {
        id:0,
        opened:false,
        imgs:[]
      },
       {
        id:1,
        opened:false,
        imgs:[]
      },
      ]
    }
  },
  mounted(){
    this.Tabs.map((tab) => {
      return tab.imgs = this.fillImgs();
    })
  },
  computed:{
    someTabIsOpened(){
      let someOpened = false;
      someOpened = this.Tabs.filter((tab) => {
        return tab.opened;
      });
      return someOpened.length > 0
    }
  },
  watch:{
    someTabIsOpened(newVal, oldVal){
      console.log({old: oldVal, new: newVal})
      if(oldVal === true)
        this.closing = true;
        
        setTimeout(() => {
          this.closing = false
        }, 300);
    }
  },
  methods:{
    fillImgs(){
      let imgs = [];
      for (let index = 0; index < 10; index++) {
        imgs.push('https://picsum.photos/200/300')
      }
      return imgs;
    },
    openTab(tabId){
      return this.Tabs[tabId].opened = !this.Tabs[tabId].opened; 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
