<template>

<div class="wrapper">
  <div id="app">
        <div class="">
            <div class="frame frame-top"><span class="site-name">Cancer Therapy Advisor</span><span class="top-link"><a href="#">Parient journey</a> </span></div>
            <div class="frame frame-right"></div>
            <div class="frame frame-bottom"></div>
            <div class="frame frame-left"></div>
        </div>
      

        <div class="content">
          <div class="header">
            <div class="logo"><img src="./assets/img/Erleada-60mg_R_4CP.png" alt="">
              <MobileMenu ref="mob_menu" />
            </div>
            <div class="heading">Start treatment early for your patients with mCSPC </div>
          </div>
          <div class="content-main">
            <div class="block block__left">
              <div class="info-card">
                <div class="info-card__name">ANTHONY*</div>
                <div class="info-card__descr">68-year-old male newly diagnosed with mCSPC</div>
                <div class="button" role="button">READ STORY</div>
                <div class="tip">*Not an actual patient.</div>
              </div>
            </div>
            <div class="block block__right">
              <div class="info-card">
                <div class="info-card__name">TOM*</div>
                <div class="info-card__descr">76-year-old male with mCSPC and a comorbidity</div>
                <div class="button" role="button">READ STORY</div>
                <div class="tip">*Not an actual patient.</div>
              </div>
            </div>
            <div class="block-mobile"></div>
          </div>
            <div class="tip bot-tip">mCSPC = metastatic castration-sensitive prostate cancer</div>
        </div>

         <Tabs />
      
    </div>
</div>


  
   

</template>

<script>
import Tabs from './components/Tabs.vue'
import MobileMenu from './components/MobileMenu.vue'

export default {
  name: 'App',
  components: {
    Tabs,
    MobileMenu
  }
}
</script>

<style lang="sass">
  @import './assets/sass/style.scss'
</style>
