$purple:#b789ff;

@mixin mob {
    @media all and (max-width: 767px) {
        @content
    }
}

*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    font-size: 12px;
    line-height: 24px;
    color: #000;
    font-family: sans-serif;

    
}

body{
    padding: 50px;

    @include mob {
        padding: 40px 8px 50px 8px;
    }
}

.frame{
    position: fixed;
    background-color: #000;
    z-index: 1000;
    opacity: 1;
    color: #fff;
    &-top{
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        @include mob {
            height: 40px;
            padding: 0 8px;
        }
    }
    &-right{
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;

        @include mob {
            width: 8px;
        }
    }
    &-bottom{
        bottom: 0;
        width: 100%;
        height: 50px;

        @include mob {
            height: 50px;
        }

    }
    &-left{
        left: 0;
        top: 0;
        width: 50px;
        height: 100%;

        @include mob {
            width: 8px;
        }
    }
}

.site-name{
    font-size: 24px;
    @include mob{
        font-size: 16px;
    }
}

.top-link{
    display: flex;
    align-items: center;
    a{
        text-decoration: unset;
        color: #fff;
    }
    &::after{
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('./assets/img/Path.svg') no-repeat;
        background-position: center;
        margin-left: 5px;
    }
}

.block-mobile{
    display: none;
    @include mob{
        display: table;
        height: calc(20vh + 50px + 25px);
        width: 100%;
    }
}

.bottom-tabs{
    position: fixed;
    width: 100%;
    z-index: 990;
    display: flex;
    left: 0;
    flex-direction: column;
    justify-content: flex-end;
    // height: 20%;
    bottom: 0;
    padding: 50px 50px 50px 50px;
    // transition: all 1s linear;
    max-height: 100vh;

    @include mob{
        padding: 40px 8px 50px 8px;
    }

    &.opened, &.closing{
        // top: 0;
        // padding-top: 50px;
        height: 100vh;

        .one-tab{
            // transition: flex 1s linear;
        }
    }
    .one-tab{
        overflow: auto;
        position: relative;
        // flex: 1 0 10vh;
        height: 10vh;
        min-height: 10vh;
        // background-color: rgb(0, 221, 37);
        transition: height .3s linear;
        border: 1px solid rgb(180, 180, 180);
        background-color: #D8D8D8;

        .tab-content{
            padding: 25px 50px;
            font-size: 16px;

            @include mob{
                padding: 8px 50px 8px 8px;
                font-size: 12px;
            }
        }

        &-header{

            font-size: 18px;
            text-transform: uppercase;
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }

        &.opened{
            // flex: 1 1 100%;
            height: 100vh;
            // flex: 0 1 100vh;
           
        }
    }
}

.content{

    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20vh - 100px);

    @include mob{
        height: 100%;
    }
    &-main{
    
        display: flex;
        height: 100%;

        @include mob{
            flex-direction: column;
        }
    }
    
}

.header{
    display: flex;
    align-items: center;

    @include mob{
        flex-direction: column;
        align-items: center;
    }
}

.mobile-menu-outer{
    display: none;
    @include mob{
        display: flex;
    }
}

.logo{
    position: absolute;
    left: 0;
    min-width: 110px;
    padding: 0 16px;
    align-items: center;

    img{
        object-fit: contain;
    }

    @include mob{
        position: relative;
        max-width: unset;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $purple;
        padding: 15px;
    }
}

.heading{
    font-weight: bold;
    font-size: 39px;
    line-height: 48px;   
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3E7CB1;
    width: 100%;
    padding: 0 150px;
    padding-top: 25px;

    @include mob{
        font-size: 18px;
        line-height: unset;
        padding: 5px;
    }
}

.bot-tip{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    @include mob{
        bottom: calc(20vh + 45px);
    }
}

.block{
    width: 100%;
  
    background-repeat: no-repeat;
    display: flex;
    padding: 0 35px;

    @include mob{
        min-height: 30vh;
        background-size: contain;
        padding: 0 8px;
    }

    &__left{
        background-image: url('./assets/img/ERL0077_HR_F.png');
        justify-content: flex-end;
        background-position: left bottom;
    }
    &__right{
        justify-content: flex-start;
        background-image: url('./assets/img/ERL0078_HR_F.png');
        background-position: right bottom;

        @include mob{
            transform: scale(-1,1);

            .info-card{
                transform: scale(-1,1);
            }
        }
    }
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    @include mob{
        align-items: flex-end;
        text-align: right;
    }

    &__name{
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #0D0D0D;
        // width: 100%;
        margin-bottom: 8px;

        @include mob{
            font-size: 24px;
        }

        &--has-tip::after{
            content: '';
            
        }
    }

    &__descr{
        // width: 100%;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #000000;
        margin-bottom: 16px;

        @include mob{
            text-align: right;
            justify-content: flex-end;
            font-size: 14px;
            max-width: 70%;
        }
    }
}

.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    width: max-content;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #3E7CB1;
    min-height: 34px;
    line-height: 34px;
}

.tip{
    font-size: 12px;
    line-height: 24px;
    color: #575757;  
    padding: 8px 0;
}

.tab-opener{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::before, &::after{
        content: '';
        display: block;
        background-color: #fff;
        width: 2px;
        height: 30px;
        position: absolute;
        transition: transform .3s;
        
    }

    &::before{
        left: 12px;
        top: 0;
    }

    &::after{
        top: 0px;
        left: 12px;
        transform: rotate(90deg);
    }

    &.opened::before{
        transform: rotate(90deg);
    }
}